/* Home */
#home{
    height: 820px;
}
.headings{
    font-size: 1.7rem;
}
/* About */
#home{
    text-align: center;
    padding: 10px;
}
#intro h2{
    font-size: 1.5rem;
}

/*Contact*/
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: bisque;
    color: #fff;
    padding: 22px;
    width: 100%;
  
}
.contact{
    text-align: center;

}